
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0 !important;
}

.main-menu .navbar-brand img {
    height: 60px;
    margin: 15px 0;
}

.none{
    list-style-type: none;
}

.login-bottom{
    margin-bottom: 200px;
}

li{
    list-style-type: none;   
}
.btn{
    color:#fff;
    font-size: 17px;
}
/* .top-section .card .card-body .card-title{
    color:#FFB013 !important;
}
.sidebar .card .card-title{
    color:#2B3E90 !important;  
}

.sidebar .nav-item .nav-link{
    color:#2B3E90 !important;
    font-size:23px;
    font-family: roboto;
} */
/* .sidebar .nav-item.active {
    background-color: #FFB013;
    border-radius: 4px;
} */

/* .sidebar .nav-item.active a{
    color: #fff;
    
} */
/* .card .card-body .card-text{
    color:#2B3E90 !important; 
}

.sidebar .nav-item.my-profile  :hover{
color:#FFB013;
}
 */
 .profile-head .card-body .dashboard{
     font-size: 35px;
     font-weight: bold;
     color: #2B3E90;
 }
 .card .card-body .enrolled{
    font-family: 'roboto', sans-serif;
    font-size: 29px;
    color: #FFB013;
}

.card .card-body .completed{
   font-size: 29px;
   font-family: 'regular', sans-serif;
   color: #2B3E90;
}
.card .card-body .certificates{
    font-size: 29px;
    font-family: 'regular', sans-serif;
    color: #686868;
}

.profile-head .enrolled-card{
    background-color: rgba(255,176,19,0.20);  
}

.profile-head .completed-card{
    background-color: rgba(43,62,144,0.2);
  
}

.profile-head .certificates-card{
    background-color: rgba(104,104,104,0.2);
     
 }

.completed-card .card-title {
    font-size: 35px;
    font-weight: bold;
    color: #2B3E90;
}

.enrolled-card .card-title{
    font-size: 35px;
    font-weight: bold;
    color:#F3A915;
}

.certificates-card .card-title{
    font-size: 35px;
    color: #686868;
    font-weight: bold;
}



.myleftctn{
    position: relative;
    background-color: #FFB013;
    border-radius: 15px;
    height:140%;
    padding: 25px;
    padding-left: 10px;
}
.myleftctn header{
    color: aqua;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.myleftctn .myinput{
    width:230px;
    margin-top: 5px;
    padding:10px;
    padding-left: 50px;
    border:none
}

.table-content .title{
   color:#2B3E90;
   width: 125px;
}

.table-content .text{
    color:#2B3E90;
 }
 .table-content .basic-information .text{
     font-weight: 600;
 }


 
 



 .register-section .card-back{
     background-color:#fff;
     border-radius: 5px;
 }
.register-section .header{
    margin-top:15px;
    font-size:36px;
    font-weight:bold;
    text-align: center;
    color:#B3B3B3; 
}
.main-content div{
    position: relative;
}

.main-content i{
    position:absolute;
    left:7px;
    font-size: 25px;
    top:8px;
}
.main-content .icon-eye{
    position:absolute;
    right:40px;
    font-size: 16px;
    top:2px;
  
}
.main-content .form-control{
    padding-left: 35px;
}
.main-content .terms-line{
    font-size: 18px;
}
.card .table-head{
    background-color: #2B3E90; 
    border-radius: 5px;
    color:white;   
}
.about-section .about-title{
    border-radius: 5px;
    background-color: #fff;
    margin-top: 25px;
    padding: 40px;
}
.footer .footer-content{
    background-color: #E5EDFF;
}
.footer .university-title{
    color:#2B3E90;   
}

.footer .copyright-content{
    text-align: center;
    font-size: 15px;
    margin-top: 28px;
}
.footer .developed-content{
    text-align: center;
    font-size: 15px;
    margin-top: 28px; 
    border: none; 
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #E5EDFF;
    margin-top: auto;
}

footer .lower_footer > div,
footer .lower_footer {
    display: flex;
    align-items: center;
}

footer .lower_footer a{
    color: #7D8597;
}

a{
    text-decoration: none;
}

footer .lower_footer img{
    height: 60px;
}
footer .lower_footer .brand_text{
    font-size: 26px;
    padding-left: 30px;
    /* padding-left: 0; */
    color: #2B3E90;
    font-family: denmark;
}

.main-menu{
    background-color: #fff;
}
.main-menu .navbar-nav{
    padding-left:6px;   
}

.main-menu .navbar-nav .nav-item .nav-link{
    padding-left: 40px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}
.main-menu .navbar-nav .hot-line{
    padding-left: 150px;
    margin-top: 8px;
}
.main-menu .navbar-nav .profile-btn{
    background-color:#2B3E90 ;
color:white;
padding-left: 17px;
padding-right: 17px;
padding-top: 2px;
padding-bottom: 2px;
font-size: 23px;
margin-left: 43px;
}
.main-menu .navbar-nav .sign-out-btn{
    color:#FFB013;
border-radius:5px;
padding-left: 11px;
padding-right: 11px;
padding-top: 4px;
padding-bottom: 4px;
margin-left: 27px;
font-size: 20px;
}
.main-menu .navbar-nav .login-btn{
    color:#2B3E90;
    border: 1px solid #707070;
    border-radius:5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 27px;
    font-size: 20px;
}
.main-menu .navbar-nav .sign-up-btn{
    background-color:#2B3E90 ;
color:white;
padding-left: 5px;
padding-right: 5px;
padding-top: 0px;
padding-bottom: 0px;
font-size: 23px;
margin-left: 43px;
}
.hot-line  .number{
    color: #2B3E90;
    font-size: 19px;
    
}
.hot-line .icon{
    color: #2B3E90;
    font-size: 19px;
}
.card-menu .left{
   
}
.card-menu .card{
    padding-right: 10px;
    padding-left: 10px;
}


.card-menu .card-body .card-title{
    font-size: 25px;
    color: #2B3E90 !important;
    font-weight: bold;
}
.card-menu .card-body .card-text{
    color: #2B3E90 !important;
    font-size: 20px;
}

.login-section .card-back{
width: 570px;
}
.login-section .access-btn{
    padding-bottom:200px;
}

.login-section .card-back .login-head{
    color: #2B3E90;
    margin-top:15px;
    font-size:36px;
    font-weight:bold;
    text-align: center;
    padding-bottom: 52px;
    padding-top: 38px;
}

.login-section .card-back .Register-header{
  color:#B3B3B3;
}

.login-section .main-content .email{
    height:42px;
    font-size: 23px;
    opacity:45%;
} 
.login-section .main-content .password{
    height:42px;
    font-size: 25px;
    opacity:45%;
}
.login-section .main-content .text-end{
    font-size: 19px;
}
.login-section .main-content .form-check{
    font-size: 25px;
}

.main-content .access-btn .btn-login{
background-color: #2B3E90;
color:#fff;
font-size:22px;
padding-top:1px;
padding-bottom:2px;
}
.main-content .access-btn .account{
    font-size:23px;
    color:#000000;
}
.register-section .card-back{
    width:570px;
}
.register-section .access-btn{
    padding-bottom:0px;
}
.register-section .main-content{
padding-left:77px;
padding-right:77px;
}
.register-section .card-back .login-head{
    color: #B3B3B3;
    margin-top:15px;
    font-size:36px;
    font-weight:bold;
    text-align: center;
    padding-bottom: 52px;
    padding-top: 38px;
}
.register-section .card-back .register-head{
    color: #2B3E90;
}
.register-section .main-content .all-access{
    height:42px;
    font-size: 25px;
    opacity:45%;
    padding-left:50px;
}
.main-content .form-check{
    font-size:18px;
}
.main-content .form-check .agree-access{
    padding-left: 15px;
}
.register-section .access-btn .reg-btn{
    background-color:#2B3E90;
    color:#fff;
    font-size:22px;
    padding-top:2px;
    padding-bottom: 2px;
    padding-right: 25px;
    padding-left:25px;
}
.register-section .access-btn .fst-italic{
    font-size: 23px;
}
.main-content .access-btn .register-btn{
    font-size:18px;
    padding-left:30px;
    padding-right:30px;
}
.main-content .access-btn .log-btn{
    font-size:18px;
    padding-left:30px;
    padding-right:30px;
    margin-bottom:40px;
}
.about-section .about-title .lorem{
    font-size: 18px;  
}
.sidebar .card .text-center .card-title{
    color:#2B3E90;
    font-weight: bold;
    font-size: 25px;
}

.sidebar .nav-list .nav-item{
    color:#662483;
}

.sidebar .nav-item a {
    color:#2B3E90;
    font-size: 18px;
    font-family: roboto;
    height:52px;
    padding:14px;
}

.sidebar .nav-item a:hover {
    color: #FFB013;
}

.sidebar .nav-item.active {
    background-color: #FFB013;
    margin-left: -10px;
    margin-right: 15px;
    border-radius: 7px;
}
.sidebar .nav-item{
   
    margin-left: -10px;
    margin-right: 15px;
    
}

.sidebar .nav-item.active a {
    color: #fff !important;
}