.view-more-btn{
    padding-left: 540px;
    padding-top: 40px;
    border-radius: 5px;
}

.rounded-circle{
    border-radius: 50%;
}

.img-home{  
  margin-left:200px;
}

.none{
    list-style-type: none;
}

.login-bottom{
    margin-bottom: 200px;
}

li{
    list-style-type: none;   
}

.sidebar .nav-item{
    font-size:22px;
    color:#2B3E90;
  
}

.sidebar .nav-item.active {
    background-color: #FFB013;
    border-radius: 4px;
}

.sidebar .nav-item.active a{
    color: #fff;
    
}

.sidebar .nav-item.my-profile  :hover{
color:#FFB013;
}

.card.enrolled-card{
background-color:#FFF1C8;
font-size: 29px;
}
.enrolled-card .card-title{
    font-size: 35px;
}

.card.completed-card{
    background-color:#2B3E90;
    font-size: 29px;
}
.completed-card .card-title{
    font-size: 35px;
}

.card.certificates-card{
    background-color: #686868; 
    font-size: 29px;
}

.certificates-card .card-title{
    font-size: 35px;
}
.myleftctn{
    position: relative;
    background-color: #FFB013;
    border-radius: 15px;
    height:140%;
    padding: 25px;
    padding-left: 10px;
}
.myleftctn header{
    color: aqua;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.myleftctn .myinput{
    width:230px;
    margin-top: 5px;
    padding:10px;
    padding-left: 50px;
    border:none
}

.table-content .title{
   color:#2B3E90;
   width: 125px;
}

.table-content .text{
    color:#2B3E90;
 }
 .table-content .basic-information .text{
     font-weight: 600;
 }


 
 



 .register-section .card-back{
     background-color:aqua ;
     border-radius: 5px;
 }
.register-section .header{
    margin-top:15px;
    font-size:36px;
    font-weight:bold;
    text-align: center;
    color:#B3B3B3; 
}
.main-content div{
    position: relative;
}

.main-content i{
    position:absolute;
    left:8px;
    font-size: 16px;
    top:12px;
}
.main-content .icon-eye{
    position:absolute;
    right:40px;
    font-size: 16px;
    top:2px;
  
}
.main-content .form-control{
    padding-left: 35px;
}
.main-content .terms-line{
    font-size: 18px;
}
.card .table-head{
    background-color: #2B3E90; 
    border-radius: 5px;
    color:white;
}