
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0 !important;
}

.main-menu .navbar-brand img {
    height: 60px;
    margin: 15px 0;
}

.none{
    list-style-type: none;
}

.login-bottom{
    margin-bottom: 200px;
}

li{
    list-style-type: none;   
}
.btn{
    color:#fff;
    font-size: 17px;
}
.top-section .card .card-title{
    color:#FFB013;
    font-size: 25px;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
}

.top-section .hasan{
    box-shadow: 10px 10px 5px;
}

.online-course .card {
border-radius: 15px;
padding-bottom: 8px;
}
/* 
.card:hover{
    box-shadow: 0 50px 80px red;
} */
.online-course .card .card-title{
    color: #2B3E90;
    font-size: 25px;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
}
.online-course .card .card-text{
    font-size: 20px;
    font-family: 'regular', sans-serif;
    color: #2B3E90;
}
.online-course .card .card-btn{
    background-color: #FFB013 !important;
    font-size: 17px;
    font-family: 'roboto', sans-serif;
    margin-top: 7px;
    padding:2px 32px;
}
.online-course .card .result-btn{
    font-size: 17px;
    font-family: 'roboto', sans-serif;
    margin-top: 7px;
    padding:2px 32px;
    border-color: #FFB013;
    color:#FFB013;
} 
.online-course ul{
    padding-left: 0px;
}


 .profile-head .card-body .dashboard{
     font-size: 35px;
     font-weight: bold;
     color: #2B3E90;
 }
 .card .card-body .enrolled{
    font-family: 'roboto', sans-serif;
    font-size: 29px;
    color: #FFB013;
}

.card .card-body .completed{
   font-size: 29px;
   font-family: 'regular', sans-serif;
   color: #2B3E90;
}
.card .card-body .certificates{
    font-size: 29px;
    font-family: 'regular', sans-serif;
    color: #686868;
}

.profile-head .enrolled-card{
    background-color: rgba(255,176,19,0.20);  
}

.profile-head .completed-card{
    background-color: rgba(43,62,144,0.2);
  
}

.profile-head .certificates-card{
    background-color: rgba(104,104,104,0.2);
     
 }

.completed-card .card-title {
    font-size: 35px;
    font-weight: bold;
    color: #2B3E90;
}

.enrolled-card .card-title{
    font-size: 35px;
    font-weight: bold;
    color:#F3A915;
}

.certificates-card .card-title{
    font-size: 35px;
    color: #686868;
    font-weight: bold;
}



.myleftctn{
    position: relative;
    background-color: #FFB013;
    border-radius: 15px;
    height:140%;
    padding: 25px;
    padding-left: 10px;
}
.myleftctn header{
    color: aqua;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.myleftctn .myinput{
    width:230px;
    margin-top: 5px;
    padding:10px;
    padding-left: 50px;
    border:none
}

.table-content .title{
   color:#2B3E90;
   width: 125px;
}

.table-content .text{
    color:#2B3E90;
 }
 .table-content .basic-information .text{
     font-weight: 600;
     padding-top:2px;
     padding-bottom: 2px; 

 }

 .basic-information .text{
     padding-bottom: 5px;
 }

.basic-information .text input{
    padding-top: 2px;
    padding-bottom: 2px;    
}
 
 .infomation .text{  
    padding-bottom: 5px; 
    color:#2B3E90;
 }

 .infomation .text input{
    padding-top:2px;
    padding-bottom: 2px;   
 }
 .basic-information .input-file{
     
 } 

 .register-section .card-back{
     background-color:#fff;
     border-radius: 5px;
 }
.register-section .header{
    margin-top:15px;
    font-size:36px;
    font-weight:bold;
    text-align: center;
    color:#B3B3B3; 
}
.main-content div{
    position: relative;
}

.main-content i{
    position:absolute;
    left:7px;
    font-size: 16px;
    top:16px;
}

.main-content .fa-eye {
    position: absolute;
    left: 5px;
    font-size: 21px;
    top: 5px;
}

.main-content .icon-eye{
    position:absolute;
    right:40px;
    font-size: 16px;
    top:8px;
  
}

.main-content .terms-line{
    font-size: 18px;
}

.card .table-head{
    background-color: #2B3E90; 
    border-radius: 5px;
    color:white;   
}

.about-section .about-title{
    border-radius: 5px;
    background-color: #fff;
    margin-top: 25px;
    padding: 40px;
}

.footer .footer-content{
    background-color: #E5EDFF;
}

.footer .university-title{
    color:#2B3E90;   
}

.footer .copyright-content{
    text-align: center;
    font-size: 15px;
    margin-top: 28px;
}
.footer .developed-content{
    text-align: center;
    font-size: 15px;
    margin-top: 28px; 
    border: none; 
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #E5EDFF;
    margin-top: auto;
}

footer .lower_footer > div,
footer .lower_footer {
    display: flex;
    align-items: center;
}

footer .lower_footer a{
    color: #7D8597;
}

a{
    text-decoration: none;
}

footer .lower_footer img{
    height: 60px;
}

footer .lower_footer .brand_text{
    font-size: 26px;
    padding-left: 30px;
     padding-left: 0; 
     color: #2B3E90;
    font-family: denmark;
}

.main-menu{
    background-color: #fff;
}
.main-menu .navbar-nav{
    padding-left:6px;   
}

.main-menu .navbar-nav .nav-item .nav-link{
    padding-left: 30px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

.main-menu .navbar-nav .hot-line{
    padding-left: 150px;
    margin-top: 8px;
}

.main-menu .navbar-nav .profile-btn{
    background-color:#2B3E90 ;
color:white;
padding:3px 17px;
font-size: 18px;
margin-left: 43px;
margin-top: 5px;
}

.main-menu .navbar-nav .sign-out-btn{
    color:#FFB013;
border-radius:5px;
padding:2px 11px;
margin-left: 27px;
font-size: 18px;
margin-top: 3px;
}

.main-menu .navbar-nav .login-btn{
    color:#2B3E90;
    border: 1px solid #707070;
    border-radius:5px;
    padding:2px 25px;
    margin-left: 27px;
    font-size: 20px;
     margin-top: 3px;
}

.main-menu .navbar-nav .sign-up-btn{
background-color:#2B3E90 ;
color:white;
padding:3px 10px;
font-size: 20px;
margin-left: 40px;
margin-top: 3px;
}
.fa-headset{
    color: #2B3E90;
}
.hot-line  .number{
    color: #2B3E90;
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
}
.hot-line .icon{
    color: #2B3E90;
    font-size: 19px;
}

.card-menu .card{
    padding-bottom: 8px;
    border-radius: 17px;
}


.card-menu .card-body .card-title{
    font-size: 25px;
    color: #2B3E90 !important;
    font-weight: bold;
}

.card-menu .card-body .card-text{
    color: #2B3E90 !important;
    font-size: 20px;
}

.login-section .card-back{
width: 396px;
}

.login-section .main-content{
padding-right: 12px;
padding-left: 12px;
}

.login-section .main-content input {
   padding-top: 2px;
   padding-bottom: 2px;
}

.login-section .card-back .login-head{
    color: #2B3E90;
    margin-top:15px;
    font-size:30px;
    font-weight:bold;
    text-align: center;
    padding-bottom: 52px;
    padding-top: 38px;
    font-family: 'Ubuntu', sans-serif;
}

.login-section .card-back .Register-header{
  color:#B3B3B3;
  font-family: 'Ubuntu', sans-serif;
}

.login-section .main-content .email{
    height:42px;
    font-size: 20px;
    opacity:45%;
} 

.login-section .main-content .password{
    height:42px;
    font-size: 20px;
    opacity:45%;
}

.login-section .main-content .text-end {
    font-size: 17px;
    margin-top: 5px;
    font-family: 'Roboto',sans-serif;
}

.login-section .main-content .form-check{
    font-size: 25px;
    font-family: 'Ubuntu',sans-serif;
    color: #545454;
}
.access-btn .register-btn{
    color: #FF9700;
    border-color: #FF9700;
    padding:2px 32px;
    margin-top:10px;
    margin-bottom: 40px;
}

.main-content .access-btn .btn-login{
background-color: #2B3E90;
color:#fff;
font-size:22px;
padding:2px 50px;
font-family: 'Ubuntu', sans-serif;
}

.main-content .access-btn .account{
    font-size:20px;
    color:#000000;
}

.edit-btn{
    background-color:#2B3E90;
}
.register-section .card-back{
    width: 396px;
}
.register-section .access-btn{
    padding-bottom:0px;
}

.register-section .main-content{
padding-left:12px;
padding-right:12px;
}

.register-section .card-back .login-head{
    color: #B3B3B3;
    margin-top:15px;
    font-size:30px;
    font-weight:bold;
    text-align: center;
    padding-bottom: 52px;
    padding-top: 38px;
    font-family: 'Ubuntu',sans-serif;
}

.register-section .card-back .register-head{
    color: #2B3E90;
}

.er{
display:none;
}

.register-section .main-content .all-access{
    height:42px;
    font-size: 20px;
    opacity:45%;
    padding-left: 32px;
}

.main-content .form-check{
    font-size:14px;
    font-family: 'Ubuntu',sans-serif;
}

.main-content .form-check .agree-access {
    padding-left: 2px;
    font-size: 15px;
}
.register-section .access-btn .reg-btn{
    background-color:#2B3E90;
    color:#fff;
    font-size:22px;
    padding:1px 30px;
}
.register-section .access-btn .fst-italic{
    font-size: 23px;
}
.main-content .access-btn .register-btn{
    font-size:18px;
    padding-left:30px;
    padding-right:30px;
    font-family: 'Ubuntu',sans-serif;
    margin-top: 19px;
}
.main-content .access-btn .log-btn{
    color: #FFB013;
    border-color: #FFB013;
    font-size:18px;
   padding:2px 26px;
   margin-top:10px;
   margin-bottom:40px;
    
}
.about-section .about-title .lorem{
    font-size: 18px;  
}

.top-section .card{
border-radius: 10px;
}

.sidebar .card .text-center .card-title{
    color:#2B3E90;
    font-weight: bold;
    font-size: 25px;
}

.sidebar .nav-list .nav-item{
    color:#662483;
}

.sidebar .nav-item a {
    color:#2B3E90;
    font-size: 18px;
    font-family: roboto;
    height:52px;
    padding:14px;
}

.sidebar .nav-item a:hover {
    color: #FFB013;
}

.sidebar .nav-item.active {
    background-color: #FFB013;
    margin-left: -10px;
    margin-right: 15px;
    border-radius: 7px;
}
.sidebar .nav-item{
   
    margin-left: -10px;
    margin-right: 15px;
    
}

.sidebar .nav-item.active a {
    color: #fff !important;
}
/* welcome-page */

/* .welcome-page .card .card-title{
    color:#FFB013;
    font-weight: bold;
    font-size: 29px;
}
.welcome-page .card .card-text{
    color:#2B3E90;
    font-weight: bold;
    font-size: 29px;
}
.welcome-page .card .card-text1{
    color:#E45454;
    font-size: 17px;
    font-family: 'roboto',sans-serif;
} */


/* .welcome .title-1{
    color: #FFB013;
    font-size: 29px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

.welcome .title-2 {
    color: #2B3E90;
    font-size: 29px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.welcome .text {
    color: #e45454;
    font-size: 17px;
    font-weight: 400;
  
}
.welcome::after {
    content: "";
    position: relative;
    border-bottom: 1px solid #0f77b7;
    width: 50%;
    margin-top: 40px;
} */
.welcome  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0f77b7;
    width: 100%;
    margin-top: 20px;
}

.welcome .title-1{
    color: #FFB013;
    font-size: 29px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

.welcome .title-2 {
    color: #2B3E90;
    font-size: 29px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.welcome .text1 {
    color: #e45454;
    font-size: 17px;
    font-weight: 400;
  
}
.welcome::after {
    content: "";
    position: relative;
    border-bottom: 1px solid #0f77b7;
    width: 50%;
    margin-top: 40px;
}

.graduate-radio{
    margin-left: -9px;
    padding: 20p !important;
}

.control-label{
padding-left: 65px;
margin-top: 10px !important;
}

.btn-update{
    background-color: #0F77B7;
    font-size:17px;
    font-weight: bold;
   padding:1px 32px;
   margin-left: 1% !important;
   
 }

 .btn-update:hover{
    color:white;
}
 

#student {
    display: none;
    margin-left: 24%;
    margin-right: -26%;
    
}

#graduate {
    display: none;
    margin-left: 24%;
    margin-right: -26%;
}
.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}


.checkbox::after {
    content: "";
    position: relative;
    border-bottom: 1px solid #0f77b7;
    width: 50%;
    margin-top: 20px;
}


.border-1{
    margin-left: 343px;
    margin-right: 343px;
    color:#0F77B7;
}
.border-2{
    margin-left: 343px;
    margin-right: 343px;
    color:#0F77B7;
    /* margin-bottom: 200px; */
}





.checkbox-1 .form-check-input{
   border-color:#0F77B7; 
}

.checkbox-1 .form-check-label{
    font-size: 17px;
    margin-left: 10px;
    font-family: 'roboto',sans-serif;
}

.checkbox-2 .form-check-input{
    border-color:#0F77B7; 
    margin-left: 8px;
 }

 .checkbox-2 .form-check-label{
     font-size: 17px;
     margin-left: 10px;
    font-family: 'roboto',sans-serif;
 }

.text{
     font-size: 15px;
     font-family: 'roboto',sans-serif;
 }

 /* .dropdown-input{
    margin-left:20px;
    width:270px;
    padding-top: 2px;
    padding-bottom:2px;
 }

 .dropdown-input-2{
    margin-left:23px;
    width:270px;
    padding-top: 2px;
    padding-bottom:2px;
 } */



 .d-flex{
position:relative;
 }
 .fa-info-circle{
     position: absolute;
      top:8px;
      margin-left: 450px;
      
 }
 
 /* home -page */

 .banner{
    background-image: url(img/home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner {
    background-image: url(img/home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.banner .text-1{
    font-family: 'poppins',sans-serif;
    font-size:40px;
    color: #fff;
    font-weight: bold;
    margin-top: 50px;
     
}

.banner .text-2{
    font-family: 'poppins',sans-serif;
    font-size:32px;
    color:#FFB013;
   
}
.banner .text-3{
    font-size:23px;
    font-family: 'rubik',sans-serif;
    color:#fff;
    
    margin-top: 20px;
}
.banner .join-btn{
margin-top:30px;
background-color:#FFB013 ;
border-radius: 50px;
margin-bottom: 300px;
padding: 8px 32px;
font-family: 'rubik',sans-serif;
font-size: 18px;
}

.course-card{
font-size:30px;
font-weight: bold;
font-family: 'roboto',sans-serif;
}

.home-lorem{
font-size: 15px;
font-family: 'roboto',sans-serif;
color: rgba(43,62,144,0.9);
}
.popular-courses-section .populer-card{
border-radius: 25px;
} 

.popular-courses-section {
    margin-top: 80px;
}
.popular-courses-section .text{
    padding-left: 20px;
    margin-top: 10px;
}
.popular-courses-section .price-btn{
    font-size:15px !important;
    color:#00B592;
    background-color: rgba(0,181,146,0.1);
    padding:2px 15px;
    margin-left: 60px;
    margin-top: 8px;
    border-radius: 25px;
}
.popular-courses-section .text-2{
    color: #475677;
    font-family: 'poppins',sans-serif;
    font-size: 18px !important;
    padding-left:20px;
    margin-top: 28px;
}
.popular-courses-section .star{
    font-size:20px;
    color:#FFB013;
    padding-left:20px;
    font-size: 20px;
    margin-top:25px;  
}
.popular-courses-section .title{
     font-size: 30px;
     color: #2B3E90;
     font-family: 'roboto',sans-serif;
     margin-bottom: 8px !important;
    font-weight: 500;
    margin-top: 45px;
}

.slider{
    background-color: #005693;
    margin-top: 20px;
}

.slider .online-gallary{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:#fff;
    margin-top:15px;
    font-family: 'roboto',sans-serif;
}


.gallery{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:#FFB013 !important;
    margin-top:15px;
    font-family: 'roboto',sans-serif;
}

.popular-courses-section .viewers{
    font-size: 15px;
    font-family: 'rubik',sans-serif;
    padding-left: 47px;
    margin-top:26px;
    padding-bottom: 28px;
}
.popular-courses-section  .viewers-number{
    position:relative;
}
.popular-courses-section .number{
    position:absolute;
    top:10px;
   left:-125px;
}
.home-enroll-word{
    margin-top: 20px;
}

.home-enroll-word .text{
    font-size: 18px;
    color:#475677;
    font-family: 'poppins',sans-serif;

}

.home-enroll-word .btn-lg{
    padding: 11px 54px;
    color:#475677;
    font-size: 15px;
    font-family: 'rubik',sans-serif;
    border-color: #475677;
    border-radius: 50px;
    margin-top: 7px;
    margin-left: 364px;
}

.home-enroll-word .card-title{
    font-size: 15px;
    margin-top: 20px;
    font-family: 'rubik',sans-serif;
}
.home-enroll-word .text{
    color:#293B5F;
    font-size: 36px;
    font-family: 'poppins',sans-serif;
    margin-top: 5px;
    font-weight: 500;
    margin-bottom: 0px !important;
}

.home-enroll-word .title{
    font-size: 13px;
    font-family: 'poppins',sans-serif;
} 

.home-enroll-word  .card{
    background-color: rgba(255,255,255,0.15);
    opacity: 50%;
}

.card-position{
    position: relative;
}

.card-position .card{
    position:absolute;
    bottom:-76px;
    border-radius: 14px;
}
.card-position .img{
   background-color: #36A9E1;
   border-radius: 50%;
   margin-top:20px;
}
.card-position .img2{
    background-color: #FFB013;
    border-radius: 50%;
    margin-top:20px;
 }
 .card-position .img3{
    background-color: #3DB699;
    border-radius: 50%;
    margin-top:20px;
 }













