@media only screen and (max-width: 576px){
 
    footer .lower_footer {
        flex-direction: column;
        justify-content: center;
    }

    footer .lower_footer .brand_text{
        font-size: 24px;
        padding: 0;
        text-align: center;
    }

    .main-menu .navbar-nav .hot-line{
         padding-left: 15px;
       }
       .main-menu .navbar-nav .box-1{
           margin-top: 10px;
       }

       footer .lower_footer .number{
           padding-left: 20px;
           font-size: 50px;
       }


       .border-1 {
        margin-left: 10px;
        margin-right: 10px;
        color: #0F77B7;
    }
    .border-2 {
        margin-left: 10px;
        margin-right: 10px;
        color: #0F77B7;
    }


        .text{
       font-size:13px;
    }
       .dropdown-input{
        margin-left:2px;
        width:170px;
        font-size: 13px;
     }
     .dropdown-input-2{
        margin-left:6px;
        width:170px;
        font-size: 13px;
     }
     /* .banner .text-1{
        font-family: 'poppins',sans-serif;
        font-size:20px;
        color: #fff;
        font-weight: bold;
        margin-top: 50px;
        padding-left: 85px;
    }
    .banner .text-2{
        font-family: 'poppins',sans-serif;
        font-size:18px;
        color:#FFB013;
        padding-left: 85px;
       
    }
    .banner .text-3{
        font-size:15px;
        font-family: 'rubik',sans-serif;
        color:#fff;
        padding-left: 85px;
        margin-top: 20px;
    }
    .banner .join-btn{
    margin-top:30px;
    background-color:#FFB013 ;
    border-radius: 50px;
    margin-left: 85px;
    margin-bottom: 200px;
    } */
}
