@media only screen and (max-width: 576px){
 
    footer .lower_footer {
        flex-direction: column;
        justify-content: center;
    }

    footer .lower_footer .brand_text{
        font-size: 24px;
        padding: 0;
        text-align: center;
    }

    .main-menu .navbar-nav .hot-line{
         padding-left: 15px;
       }
       .main-menu .navbar-nav .box-1{
           margin-top: 10px;
       }

       footer .lower_footer .number{
           padding-left: 20px;
           font-size: 50px;
       }

       .main-menu .navbar-nav .sign-out-btn {     
         margin-top: 0px; 
    }
    .main-menu .navbar-nav .sign-up-btn {
        margin-top: 0px;
    }
    .hot-line .icon {
        margin-left: 13px;
    }
       .border-1 {
        margin-left: 10px;
        margin-right: 10px;
        color: #0F77B7;
    }
    .border-2 {
        margin-left: 10px;
        margin-right: 10px;
        color: #0F77B7;
    }


        .text{
       font-size:13px;
    }
    .text1{
        font-size:13px;
     }
       .dropdown-input{
        width: 167px;
        margin-left: 3px;
        font-size: 13px;
     }
     .dropdown-input-2{
        width: 167px;
        margin-left: 6px;
        font-size: 13px;
     }
     .dropdown-input-3 {
        width: 167px;
        margin-left: 28px;
        font-size: 13px;
    }
  
        .fa-info-circle {       
            margin-left: 193px;
            top: 406px;    
        }

        .btn-update {
            margin-left: -18% !important;
        }
    

     .banner .text-1{      
        font-size:20px;     
    }

    .banner .text-2{
        font-size:18px;
             
    }

    .banner .text-3{
        font-size:55%;   
    }
   
    .home-enroll-word .btn-lg {
       padding: 2px 10px;
      
    }


    .welcome .title-1 {    
        font-size: 19px;    
    }

    .welcome .title-2 {
        font-size: 19px;    
    }

    .welcome .text1 {
        font-size: 13px; 
    }
    /* #student {
       
        min-height: 100vh;
    }
    
    #graduate {

        min-height: 100vh;
    } */
    
    .main-menu .navbar-nav .login-btn {
        margin-top: 13px;
        margin-bottom: 14px;
    }
    .main-menu .navbar-nav .profile-btn {
        margin-left: 25px;
        margin-top: 13px;
        margin-bottom: 12px;
    }
    .register-section .main-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .populer-card{
        margin-top: 15px;
    }
    .popular-courses-section .price-btn {
        margin-left: 33px;
       
    }
    .popular-courses-section .viewers {
        padding-left: 18px;
    }
    .popular-courses-section {
        margin-top: 350px;
    }
    .card-position .card {
        bottom: -329px;
    }


    .home-enroll-word .text {
        font-size: 12px;
        margin-top: 13px;
    }
   
    .popular-courses-section .star {
        padding-left: 21px;
        font-size: 15px;
    }
    .login-section .main-content .form-check {
        font-size: 15px;
    }
    .register-section .access-btn .fst-italic{
        font-size: 18px;
    }
    .login-section .main-content {
        padding-left: 0px;
        padding-right: 0px;
    }
    .main-content .form-check .agree-access {
        font-size: 11px;
    }
   
    .form-content {
        display: flex;
        justify-content: space-between;
        margin-top: 11px;
       margin-left: -135px;
       width: 117%;
    } 
    
    .table-responsive {
        font-size: 14px;
    }
}
    
